/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docs/notes.txt
server.php
storage
database/seeds/UsersTableSeeder.php
tmp/
nova/*
.phpstorm.meta.php
_ide_helper.php
public/mix-manifest.json
public/css/app.css
public/fonts/
public/js/app.js
docs/emails/
public/norman/
*.bak*
nova-components/Metafield/*
.php_cs.cache
laravel-echo-server.lock
laravel-echo-server.json
.idea
