/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docs/notes.txt
server.php
storage
database/seeds/UsersTableSeeder.php
tmp/
nova/*
.phpstorm.meta.php
_ide_helper.php
public/mix-manifest.json
public/css/app.css
database/migrations/2019_06_25_082533_alter_auth_rename_their_id.php
public/fonts/
docs/emails/
public/norman/
*.bak*

