html,body {
    font-family: 'Open Sans', serif;
    background: #F2F6FA;
}
footer {
    background-color: #F2F6FA !important;
}
.topNav {
    border-top: 5px solid #3498DB;
}
.topNav .container {
    border-bottom: 1px solid #E6EAEE;
}
.container .columns {
    margin: 3rem 0;
}
.navbar-menu .navbar-item {
    padding: 0 2rem;
}
aside.menu {
    padding-top: 3rem;
}
aside.menu .menu-list {
    line-height: 1.5;
}
aside.menu .menu-label {
    padding-left: 10px;
    font-weight: 700;
}
.button.is-primary.is-alt {
    background: #00c6ff;
    background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);
    background: linear-gradient(to bottom, #0072ff, #00c6ff);
    font-weight: 700;
    font-size: 14px;
    height: 3rem;
    line-height: 2.8;
}
.media-left img {
    border-radius: 50%;
}
.media-content p {
    font-size: 14px;
    line-height: 2.3;
    font-weight: 700;
    color: #8F99A3;
}
article.post {
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E6EAEE;
}
article.post:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
.menu-list li{
    padding: 5px;
}

/*
.navbar-item img {
    max-height: 2.75rem !important;
}
*/
.navatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
div .collapsed {
    display: none;
}

div .author {
    float: left;
    width: 100%;
}

.numVotes {
    color: #fa001d;
}

.proposal-form textarea {
    min-height: 250px !important;
}

.logo_diaroia {
    height: 70px !important;
}
.navbar-item img {
    max-height: unset !important;
}
#hide-when-you-know {
    border: 1px black dotted !important;
}


@media screen and (min-width: 1000px) {
    #hide-when-you-know {
        border: 1px black dotted !important;
    }
}
.olive {
    background-color: #b58900 !important;
    color: #fff !important;
}
.purple {
    background-color: #8A4D76 !important;
    color: #fff !important;
}
.ubuntu-purple {
    background-color: #772953 !important;
    color: #fff !important;
}
.ubuntu-link {
    background-color: #17a2b8 !important;
    color: #fff !important;
}
.ubuntu-green {
    background-color: #38B44A !important;
    color: #fff !important;
}
.orange {
    background-color: #E95420 !important;
    color: #fff !important;
}

.navbar-menu .navbar-item {
    padding: 0 1rem;
    padding-top: 0px;
    padding-right: 1rem;
    padding-bottom: 0px;
    padding-left: 1rem;
}
.categoriesList li {
    padding-bottom: 0.70em;
}

span .pale {
    opacity: 0.45 !important;
}

#propose_buttons a.button.pale  {
    opacity: 0.55 !important;
}

div.tiny {
    font-size: 0.75em;
}
span.actual {
    font-weight: bold;
}
